<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/chat/chat.css" rel="stylesheet" />
</head>


<body>
    <div th:replace="~{/header.html :: header }"></div>

   
    <div id="content">
        <br/><br/>
        <h3> 오박사의 오픈채팅방 </h3><br/>

       <div class="contentC">
         
        <p>  갈등으로 이어질 수 있는 주제보다는 누구나 미소 지을 수 있는 글을 올려주세요. (혹여 초등학생이 들어오더라도 존중해주세요) </p> <img id="imgS" src="/img/공지아이콘-removebg-preview.png" />
       </div> 
        <div class="messageBox" >
            
          
         
        
        </div>
        
        <div id="box">
        <input type="text" class="massageI" />
        <a href="#" onclick="messageSend()"> <img id="imgSend" src="/img/포켓몬볼.png" /> </a>
        <!-- <button class="bu" onclick="messageSend()">전송</button> -->
        </div>
    </div>
    <script src="/js/chat/chat.js"></script>
</body>
</html>