<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>상품</title>
</head>
<body>
    <div th:replace="~{/header.html :: header }"></div>

    <div id="content">
        상품

        <!-- 카테고리 구역 -->
        <ul id="productCategory">
            
        </ul>   

        <!-- 검색구역 -->
        <div id="searchArea">
            <select class="pSearchKey">
                <!-- <option value="pSearchSelect"> =선택= </option> -->
                <option value="product_name">상품명</option>
            </select>

            <input class="pSearchKeyWord" />
            <button type="button" onclick="search()" id="searchBox">검색</button>
        </div> <br/>

        <!-- 상품 구역 -->
        <div id="productAll">
            
        </div>

        <!-- 페이징 구역 -->
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"> <a class="page-link" onclick="productAllPrint()">이전</a> </li>
            </ul>
        </nav> 

    </div>

    <script src="/js/product/product.js"></script>
    
</body>
</html>