#content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
}

#orderContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

/* 주문 헤더 스타일 */
.orderHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #666;
    margin-bottom: -8px; /* 주문 카드에 밀착 */
    font-weight: bold;
}

.orderHeader h4 {
    font-size: 16px;
    margin: 0;
    color: #333;
}

.orderHeader a {
    font-size: 14px;
    margin-left: 7px;
    color: #555555;
    transition: color 0.2s ease;
}

.orderHeader span {
    color: #555;
    font-size: 14px;
}

/* 주문 카드 스타일 */
.orderCard {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    gap: 55px;
    transition: box-shadow 0.3s ease;
}

.orderCard:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

/* 이미지 스타일 */
.orderCard img#productImg {
    width: 120px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    margin-left: 15px;
}

/* 제품명, 가격, 수량, 상태 스타일 */
.orderCard > div {
    font-size: 15px;
    color: #555;
    margin-top: 5px;
}

/* 상품명 */
.orderProduct > div > a {
    color: #555;
    font-size: 14px;
    font-weight: 600;
}

/* 상품 가격, 구매 수량 */
.orderProduct > div > div > a {
    color: #555;
    font-size: 12px;
}

.orderCard > .orderStatus {
    font-weight: bold;
    font-size: 14px;
    margin-left: 160px;
}

.orderCard > .orderDetailButton {
    font-size: 14px;
    margin-left: 205px;
    border: 1px solid #bc97d2;
    background: #bc97d2;
    border-radius: 18px;
    padding: 8px;
}

.orderCard > .orderDetailButton > a {
    color : white;
}

/* 주문 번호 */
.orderNum {
    display : flex;
}

.orderProductBottom {
    display: flex;
}

#orderTitle {
    font-weight: bold;
}