#content {
    margin-bottom: 120px;
}

#logo {
    width: 435px;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
}

#logo > a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#imgO {
    width: 100px;
    height: 100px;
}

#logo > a > h3 {
    font-size: 25px;
    margin-bottom: 0px;
}

/* ================================== */

#userForm {
    width: 435px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 40px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
}

label {
    letter-spacing: 0.5px;         /* 자간 조정 */
    font-size: 15px;
}

.inputBox {
    width: 350px;
    height: 30px;
    margin-bottom: 15px;
    padding : 5px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
}

.btns {
    width: 350px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    letter-spacing: 1px;         /* 자간 조정 */
    font-size: 15px;
    font-weight: bold;
    background-color: #bc97d2;
    color : white;
    border-radius: 5px;
    border : none;
    outline: none;
}

.userHref {
    width: 350px;
    text-align: center;
    padding-left: 28.5px;
    word-spacing: 11.5px;         /* 어간 조정 */
}

.userHref > a {
    word-spacing: 0.5px;         /* 어간 조정 */
    font-size: 15px;
}

/* ================================== */

#findidBox {
    margin-bottom: 20px;
}

.inputCheck {
    margin-bottom: 5px;
}

#idInputCheck, #pwInputCheck, #pwConfirmInputCheck,
#nameInputCheck, #phoneInputCheck, #birthInputCheck, #genderInputCheck {
    margin-left : 3px;
    margin-bottom: 15px;
}

#userForm > h5, #updateForm > h5, #deleteForm > h5 {
    margin-bottom: 23px;
    font-size: 18px;
}

.bottomXBtn {
    margin-bottom: 0px;
}

#signuplogo {
    width: 435px;
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
}

#signuplogo > a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#logo > a > h3, #signuplogo > a > h3 {
    font-size: 25px;
    margin-bottom: 0px;
}

#genderInputCheck > span > label {
    padding-left: 8px;
}

#updateForm {           /* update.html 틀 */
    width: 435px;
    margin: 0 auto;
    margin-top: 80px;
    padding: 40px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
}

#deleteForm {           /* delete.html 틀 */
    width: 435px;
    margin: 0 auto;
    margin-top: 160px;
    padding: 40px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
}
