<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<h3> 게시판 상세 페이지 </h3>

<form class="boardWrite">
 

    <!-- 카테고리 구역 -->
    <div class="categoryBox" style="display:flex;"> <!-- doBoardFindAll( 페이지번호 page , 카테고리번호 bcno ) -->
    </div>
    <div class="detailPrintZone">

        <button onclick="updateB()" type="button">수정하기</button>
        <button onclick="deleteB()" type="button">수정하기</button>

    </div>
    








</form>
    <script src="/js/board/write.js"></script>
</body>
</html>