<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'> <!--1. 썸머노트 CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-lite.min.css" />
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    
</head>
<body>
    <h3> 게시판 수정 페이지 </h3>
    <div>
    <select name="categoryno" id="category">
        <option value="1">자유</option>
        <option value="2">정보</option>
        <option value="3">토론</option>
        <option value="4">질문</option>
        <option value="5">자랑</option>
        </select>
    </div>
    <div>제목: <input id="btitle" type="text" name="btitle"  /><br></div>
    <div>내용:<textarea id="bcontent" name="bcontent"  ></textarea></div>
    <button onclick="updateB()" type="button">글 등록</button>



<!-- 썸머노트 jS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-lite.min.js" ></script>
    <!-- <---썸머노트 한국어-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/lang/summernote-ko-KR.min.js" ></script>
    <script src='/js/update.js'></script>
    <script src='/js/board.js'></script>
    
</body>
</html>