<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<h3> 게시판 등록 페이지 </h3>

<form class="boardWrite">
    <select name="bcno" id="category">
    <option value="1">자유</option>
    <option value="2">정보</option>
    <option value="2">토론</option>
    <option value="2">질문</option>
    <option value="2">자랑</option>
    </select>

    <input id="btitle" type="text"  placeholder="작성할 제목을 입력"/><br>
    <textarea id="bcontent" name="content" required  placeholder="작성할 내용을 입력"></textarea>
    








</form>
    <script src="/js/board/write.js"></script>
</body>
</html>