<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--1. 썸머노트 CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-lite.min.css" />
     <link href="/css/write.css" rel="stylesheet" />

</head>
<style>
    button{
    border: 1px solid #d2d2d2; /* 테두리 색상 설정 */
    outline: none; /* 포커스 시 기본 테두리 제거 */
    border-radius: 4px; /* 모서리 둥글게 (필요에 따라 조정) */
    cursor: pointer; /* 커서 변경 */
    background-color:   #bc97d2;
    width: 59px;
    height: 33px;
    color: white;
}

button:focus, input:focus, select:focus {
    border: 1px solid #d2d2d2; /* 포커스 상태에서도 동일한 테두리 색상 유지 */
    outline: none; /* 포커스 상태에서 기본 테두리 제거 */
}
</style>
<body>
<div th:replace="~{ /header.html :: header }"></div>
<div class="container"><br/>
<h3> 게시판 등록 페이지 </h3>

<form class="boardWrite">


    <!-- <option value="1">자유</option>
    <option value="2">정보</option>
    <option value="3">토론</option>
    <option value="4">질문</option>
    <option value="5">자랑</option> -->
    

    <div style="margin : 10px 0px; display:flex">
        <select name="categoryno" class="categoryBox form-select" style="width:10%">
            <option value="카테고리번호FK"> 카테고리이름 </option>
        </select>
        <input type="text" name="btitle" class="form-control" id="btitle" placeholder="제목"  />
    </div>

    <div><textarea id="summernote" name="bcontent" class="bcontent"></textarea></div><br/>
    <!-- <div>제목: <input id="btitle" type="text" name="btitle"  /><br></div>
    <div>내용:<textarea id="bcontent" name="bcontent"  ></textarea></div> -->
    <button onclick="boardWrite()" type="button">글 등록</button>
    
</form>

</div>

<!-- 썸머노트 jS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-lite.min.js" ></script>
    <!-- <---썸머노트 한국어-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/lang/summernote-ko-KR.min.js" ></script>
<script src="/js/board/category.js"></script>
<script src="/js/board/write.js"></script>

</body>
</html>