<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<h3> 게시판 등록 페이지 </h3>

<form class="boardWrite">
    <select name="bcno" id="categoryno">
    <option value="1">자유</option>
    <option value="2">정보</option>
    <option value="2">토론</option>
    <option value="2">질문</option>
    <option value="2">자랑</option>
    </select>

    <div>제목: <input id="btitle" type="text" name="btitle"  /><br></div>
    <div>내용:<textarea id="bcontent" name="bcontent"  ></textarea></div>
    <button onclick="boardWrite()" type="button">글 등록</button>
    


</form>
<!-- 
썸머노트 jS
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-lite.min.js" ></script>
    <---썸머노트 한국어-->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/lang/summernote-ko-KR.min.js" ></script> --> -->

<script src="/js/board/write.js"></script>
<!-- <script src="/js/board/category.js"></script> -->
</body>
</html>