<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.model.dao.AdminDao" > <!-- mapper start -->


    <!--2. 전체 출력 -->
    <select id="getMainShop" resultType="web.model.dto.ProductDto">
        select * from product as p inner join pcategory as pc on p.pcategory_no = pc.pcategory_no;
    </select>

    <insert id="add" parameterType="web.model.dto.ProductDto">
        INSERT INTO product (product_name,price,product_image,product_description, pcategory_no)VALUES (#{product_name}, #{price}, #{product_image},#{product_description}, #{pcategory_no});
    </insert>

    <delete id="del" parameterType="web.model.dto.ProductDto">
        delete from product where product_no = #{product_no};
    </delete>

    <!--포인트 관련-->

    <!--출력-->
    <select id="prtpoint" resultType="web.model.dto.PointDto">
        select * from pointlog as p inner join users as u on p.uno = u.uno;
    </select>

    <!--포인트지급-->
    <insert id="addpoint" parameterType="web.model.dto.PointDto">
        INSERT INTO pointlog (point_indecrease, free_paid, point_reason, uno) VALUES
        (#{point_indecrease}, #{free_paid}, #{point_reason}, #{uno})
    </insert>

    <select id="user">
        select * from users;
    </select>

    <!--재고 관련-->

    <!--재고 조회-->
    <select id="prtproduct" resultType="web.model.dto.InventoryDto">
        select * from inventory as i inner join product as p on i.product_no = p.product_no;
    </select>

    <!--재고 등록-->
    <insert id="prodadd" parameterType="web.model.dto.InventoryDto">
        INSERT INTO inventory (inventory_indecrease, inventory_reason, product_no) VALUES (#{inventory_indecrease}, #{inventory_reason}, #{product_no});
    </insert>

    <!--재고별조회-->
    <select id="prodall" resultType="web.model.dto.InventoryDto">
        SELECT i.product_no, p.product_name, SUM(i.inventory_indecrease) AS product_count FROM inventory i INNER JOIN product p ON i.product_no = p.product_no GROUP BY i.product_no;
    </select>

    <!--주문 전체 조회-->
    <select id="orderall" resultType="web.model.dto.OrdersDto">
        SELECT * FROM orders AS o INNER JOIN odetails AS od ON o.order_no = od.order_no INNER JOIN product AS p ON od.product_no = p.product_no INNER JOIN users AS u ON o.uno = u.uno;
    </select>

    <!--배송 조회-->
    <select id="delivery" resultType="web.model.dto.DeliveryDto">
        select * from delivery;
    </select>

    <update id="change" parameterType="int">
        UPDATE odetails SET order_status = CASE WHEN order_status = 0 THEN 1 WHEN order_status = 1 THEN 0 END WHERE odetail_no = #{odetail_no};
    </update>

    <delete id="delete" parameterType="web.model.dto.InventoryDto">
        delete from inventory  where inventory_no = #{inventory_no};
    </delete>

</mapper>  <!-- mapper end -->