<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.model.dao.AdminDao" > <!-- mapper start -->


    <!--2. 전체 출력 -->
    <select id="getMainShop" resultType="web.model.dto.ProductDto">
        select * from product as p inner join pcategory as pc on p.pcategory_no = pc.pcategory_no;
    </select>

    <insert id="add" parameterType="web.model.dto.ProductDto">
        INSERT INTO product (product_name,price,product_image,product_description, pcategory_no)VALUES (#{product_name}, #{price}, #{product_image},#{product_description}, #{pcategory_no});
    </insert>

    <!--포인트 관련-->

    <!--출력-->
    <select id="prtpoint" resultType="web.model.dto.PointDto">
        select * from pointlog as p inner join users as u on p.uno = u.uno;
    </select>

    <!--포인트지급-->
    <insert id="addpoint" parameterType="web.model.dto.PointDto">
        INSERT INTO pointlog (point_indecrease, free_paid, point_reason, uno) VALUES
        (#{point_indecrease}, #{free_paid}, #{point_reason}, #{uno})
    </insert>

    <select id="user">
        select * from users;
    </select>

</mapper>  <!-- mapper end -->