<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.model.dao.BoardDao" > <!-- mapper start -->

    <!--1. 게시물 등록 -->
    <insert id="bWrite" parameterType="web.model.dto.BoardDto">
        insert into board (btitle, bcontent, uno, categoryno) values ( #{btitle}, #{bcontent},#{uno}, #{categoryno} );
    </insert>

    <!--2. 전체 출력 -->
    <select id="bPrint" resultType="web.model.dto.BoardDto" parameterType="Map" >
        select * from board inner join users on board.uno = users.uno
        <!--order by board.bno desc limit #{startRow} , #{pageBoardSize}-->
        <where>
            <if test="categoryno != null and categoryno >= 1">
                and board.categoryno = #{categoryno}
            </if>

            <!-- 검색 키워드에 대한 일반 조건 -->
            <if test="searchKeyWord != null and searchKeyWord != ''">
                <choose>
                    <!-- 카테고리 조건이 이미 적용된 경우 "and"를 사용 -->
                    <when test="categoryno != null and categoryno >= 1">
                        and ${searchKey} like CONCAT('%', #{searchKeyWord}, '%')
                    </when>
                    <!--카테고리 조건이 없을 경우, 'where'을 사용 -->
                    <otherwise>
                        ${searchKey} like CONCAT('%', #{searchKeyWord}, '%')
                    </otherwise>
                </choose>
            </if>
        </where>
        <!-- 정렬 순서 -->
            order by board.bno desc
        <!--제한-->
        limit #{startRow} , #{pageBoardSize}


    </select>

    <!--2-1.게시판 전체 게시물 수 출력 -->
    <select id="getTotalBoardSize" resultType="int" parameterType="Map">
        select count(*) as 총게시물수 from board
        <where>
            <trim prefixOverrides="AND">
                <!-- 카테고리 조건 -->
                <if test="categoryno != null and categoryno >= 1">
                    categoryno = #{categoryno}
                </if>

                <!-- 검색 조건 -->
                <if test="searchKeyword != null and !searchKeyword.isEmpty()">
                    <choose>
                        <!-- 카테고리가 있을 때 -->
                        <when test="categoryno != null and categoryno >= 1">
                            AND ${searchKey} LIKE CONCAT('%', #{searchKeyword}, '%')
                        </when>
                        <!-- 카테고리가 없을 때 (전체보기) -->
                        <otherwise>
                            ${searchKey} LIKE CONCAT('%', #{searchKeyword}, '%')
                        </otherwise>
                    </choose>
                </if>
            </trim>
        </where>

    </select>
    <!--2-2. 개별 조회 -->
    <select id="bDetail" parameterType="int" resultType="web.model.dto.BoardDto" >
        select cn.categoryno, cn.categoryname ,b.bno, b.btitle, b.bcontent, u.id, b.bdate, b.bview from
        board b inner join users u inner join category cn on b.uno=u.uno and b.categoryno=cn.categoryno where b.bno= #{bno};
    </select>

    <!--조회수 증가 처리-->
    <update id="bView" parameterType="int">
        update board set bview =bview +1 where bno= #{bno}
    </update>
    <!--3. 수정 -->
    <update id="bUpdate" parameterType="web.model.dto.BoardDto">
        update board set btitle= #{ btitle }, bcontent= #{ bcontent } , categoryno= #{categoryno} where bno=#{ bno };
    </update>

    <!--4. 삭제 -->
    <delete id="bDelete" parameterType="web.model.dto.BoardDto">
        delete from board  where bno=#{bno};
    </delete>

    <!--5. 카테고리 출력 -->
    <select id="categoryprint" resultType="web.model.dto.CategoryDto">
        select * from category order by categoryno ;
    </select>

</mapper>  <!-- mapper end -->

