<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.model.dao.CartDao">    <!-- mapper start -->

    <!-- 장바구니 등록 -->
    <insert id="cartAdd" parameterType="web.model.dto.CartDto">
        insert into cart (cart_product_quantity, product_no, uno) values
        (#{cart_product_quantity}, #{product_no}, #{uno});
    </insert>

    <!-- 장바구니 출력 -->
    <select id="cartPrint" resultType="web.model.dto.ProductDto" parameterType="int">
        select * from cart inner join product on cart.product_no = product.product_no where uno = #{loginUno};
    </select>

    <!-- 장바구니 항목 삭제 -->
    <delete id="cartDelete" parameterType="web.model.dto.CartDto">
        delete from cart
        where uno = #{uno} and product_no = #{product_no};
    </delete>

</mapper>   <!-- mapper end -->