<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.model.dao.CartDao">    <!-- mapper start -->

    <!-- 장바구니 등록 (동일한 상품이 장바구니에 존재하지 않은 경우) -->
    <insert id="cartAdd" parameterType="web.model.dto.CartDto">
        insert into cart (cart_product_quantity, product_no, uno) values
        (#{cart_product_quantity}, #{product_no}, #{uno});
    </insert>

    <!-- 장바구니 등록/수정  (동일한 상품이 장바귀니에 존재하여 원래 등록돼있는 것을 수량만 수정 / 수량 변경) -->
    <update id="cartAddUpdate" parameterType="web.model.dto.CartDto">
        update cart
        set cart_product_quantity = #{cart_product_quantity}
        where uno = #{uno} and product_no = #{product_no};
    </update>

    <!-- 해당 상품이 장바구니에 존재하는지 체크 -->
    <select id="cartCheck" resultType="web.model.dto.CartDto" parameterType="web.model.dto.CartDto">
        select * from cart where uno = #{uno} and product_no = #{product_no};
    </select>

    <!-- 장바구니 출력 -->
    <select id="cartPrint" resultType="web.model.dto.ProductDto" parameterType="int">
        select * from cart inner join product on cart.product_no = product.product_no where uno = #{loginUno};
    </select>

    <!-- 장바구니 항목 삭제 -->
    <delete id="cartDelete" parameterType="web.model.dto.CartDto">
        delete from cart
        where uno = #{uno} and product_no = #{product_no};
    </delete>

</mapper>   <!-- mapper end -->