<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.model.dao.CommentplyDao" > <!-- mapper start -->

    <!--댓글등록처리-->
    <insert id="coment" parameterType="web.model.dto.CommentDto">
        insert into comment (ccontent,bno,uno) values ( #{ccontent},#{bno},#{uno} );
    </insert>

    <!--2. 전체출력 -->
    <select id="cPrint"  resultType="web.model.dto.CommentDto">
        select *from comment inner join users on comment.uno = users.uno
    </select>

</mapper>