<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.model.dao.OrderDao">    <!-- mapper start -->

    <!-- 주문내역 출력 -->
    <select id="orderPrint" resultType="web.model.dto.OrdersDto" parameterType="int">
        select *
        from orders inner join odetails on orders.order_no = odetails.order_no
        inner join product on product.product_no = odetails.product_no
        inner join pcategory on product.pcategory_no = pcategory.pcategory_no
        where uno = #{loginUno}
        order by odetails.odetail_no desc;
    </select>

    <!-- 주문 등록 (상품 구매) -->
        <!-- 자동 생성된 키값 사용여부 -->
        <!-- 자동 생성된 키값명 -->
    <insert id="orderAdd" parameterType="web.model.dto.OrdersDto" useGeneratedKeys="true" keyProperty="order_no"  >
        insert into orders (uno) values (#{uno});
    </insert>

    <!-- 주문 상세 등록 -->
    <insert id="orderDetailAdd" parameterType="web.model.dto.OrdersDto">
        insert into odetails (order_status, product_no, order_no) values (0, #{product_no}, #{order_no});
    </insert>

    <!-- 주문 번호 기준 같은 상품 개수 구하기 -->
    <select id="orderProductSum" resultType="web.model.dto.OrdersDto" parameterType="int">
        SELECT orders.order_no, product.product_no, COUNT(*) AS same_product_count
        FROM orders
        INNER JOIN odetails ON orders.order_no = odetails.order_no
        INNER JOIN product ON product.product_no = odetails.product_no
        INNER JOIN pcategory ON product.pcategory_no = pcategory.pcategory_no
        WHERE orders.uno = #{loginUno}
        GROUP BY orders.order_no, product.product_no
        ORDER BY orders.order_no DESC;
    </select>

    <!-- 주문 상세 내역 출력 -->
    <select id="orderDetailPrint" resultType="web.model.dto.OrdersDto" parameterType="web.model.dto.OrdersDto">
        select *
        from orders inner join odetails on orders.order_no = odetails.order_no
        inner join product on product.product_no = odetails.product_no
        inner join pcategory on product.pcategory_no = pcategory.pcategory_no
        where uno = #{uno} and orders.order_no = #{order_no}
        order by odetails.odetail_no desc;
    </select>

</mapper>   <!-- mapper end -->
