<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.model.dao.PointDao">    <!-- mapper start -->
    <!-- 유료 포인트 충전 -->
    <insert id="chargePaidPoint" parameterType="web.model.dto.PointDto">
        insert into pointlog (point_indecrease, free_paid, point_reason, uno) VALUES
        (#{point_indecrease}, #{free_paid}, #{point_reason}, #{uno});
    </insert>

    <!-- 나의 현재 무료 포인트 값 가져오기 -->
    <select id="currentFreePoint" resultType="int" parameterType="int">
        select sum(point_indecrease) as '무료포인트 총합'
        from pointlog
        where free_paid = '무료' and uno = #{loginUno}
        group by uno;
    </select>

</mapper>   <!-- mapper end -->