<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.model.dao.ProductDao">    <!-- mapper start -->

    <!-- 상품 전체 조회 -->
    <select id="productAllPrint" resultType="web.model.dto.ProductDto" parameterType="Map">
        select * from product inner join pcategory on product.pcategory_no = pcategory.pcategory_no
        <!--order by product.product_no desc limit #{startRow} , #{pageProductSize}-->
        <where>
            <if test="pcategory_no != null and pcategory_no >= 1">
                and product.pcategory_no = #{pcategory_no}
            </if>

            <!-- 검색 키워드에 대한 일반 조건 -->
            <if test="pSearchKeyWord != null and pSearchKeyWord != ''">
                <choose>
                    <!-- 카테고리 조건이 이미 적용된 경우 "and"를 사용 -->
                    <when test="pcategory_no != null and pcategory_no >= 1">
                        and ${pSearchKey} like CONCAT('%', #{pSearchKeyWord}, '%')
                    </when>

                    <!--카테고리 조건이 없을 경우, 'where'을 사용 -->
                    <otherwise>
                        ${pSearchKey} like CONCAT('%', #{pSearchKeyWord}, '%')
                    </otherwise>
                </choose>
            </if>
        </where>
        <!-- 정렬 순서 -->
        order by product.product_no
        <!--제한-->
        limit #{startRow}, #{pageProductSize};
    </select>

    <!-- 전체 상품 수 구하기 -->
    <select id="getTotalProductSize" resultType="int" parameterType="Map">
        select count(*) as 총상품수 from product
        <where>
            <trim prefixOverrides="AND">
                <!-- 상품 카테고리 조건 -->
                <if test="pcategory_no != null and pcategory_no >= 1">
                    pcategory_no = #{pcategory_no}
                </if>

                <!-- 검색 조건 -->
                <if test="pSearchKeyWord != null and !pSearchKeyWord.isEmpty()">
                    <choose>
                        <!-- 카테고리가 있을 때 -->
                        <when test="pcategory_no != null and pcategory_no >= 1">
                            AND ${pSearchKey} LIKE CONCAT('%', #{pSearchKeyWord}, '%')
                        </when>

                        <!-- 카테고리가 없을 때 (전체보기) -->
                        <otherwise>
                            ${pSearchKey} LIKE CONCAT('%', #{pSearchKeyWord}, '%')
                        </otherwise>
                    </choose>
                </if>
            </trim>
        </where>
    </select>

    <!-- 상품 개별 조회 -->
    <select id="productDetaillPrint" resultType="web.model.dto.ProductDto">
        select * from product pro inner join pcategory pca on pro.pcategory_no = pca.pcategory_no where product_no = ${productNo} order by product_no;
    </select>

    <!-- 상품 카테고리 출력 -->
    <select id="pCategoryPrint" resultType="web.model.dto.PcategoryDto">
        select * from pcategory order by pcategory_no;
    </select>

</mapper>   <!-- mapper end -->
