<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.model.dao.RankDao" > <!-- mapper start -->


    <!--2. 전체 출력 -->
    <select id="total" resultType="web.model.dto.RankDto" parameterType="int">
        select * from rankpokemon where pno = #{ pno }
    </select>

</mapper>  <!-- mapper end -->