<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.model.dao.RankDao" > <!-- mapper start -->


    <!--2. 전체 출력 -->
    <select id="total" resultType="web.model.dto.RankDto" parameterType="int">
        select * from rankpokemon where pno = #{ pno }
    </select>
    <!-- 클릭수 증가   -->
    <update id="click" parameterType="int">
        update rankpokemon set click = click + 1 where pno = #{pno}
    </update>
    <!-- 승리 증가   -->
    <update id="win" parameterType="int">
        update rankpokemon set win = win + 1 where pno = #{pno}
    </update>

</mapper>  <!-- mapper end -->