<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.model.dao.ReplyDao" >

    <!--댓글등록처리-->
    <insert id="rWrite" parameterType="web.model.dto.ReplyDto">
        INSERT INTO reply (rcontent, cno, uno) VALUES ( #{rcontent}, #{cno}, #{uno} );
    </insert>

    <!--2. 댓글별 대댓글출력 -->
    <select id="rPrint"  parameterType="int" resultType="web.model.dto.ReplyDto">
        SELECT r.cno, r.rno ,r.rcontent, u.id, r.rdate
        FROM reply r
        INNER JOIN users u ON r.uno = u.uno
        WHERE r.cno = #{cno};
    </select>
<!--    &lt;!&ndash;3. 수정 &ndash;&gt;-->
<!--    <update id="bUpdate" parameterType="String" >-->
<!--        update comment set rcontent= #{ rcontent };-->
<!--    </update>-->
    <!--4. 삭제 -->
    <delete id="rDelete" parameterType="int">
        DELETE FROM reply WHERE rno = #{rno};
    </delete>


</mapper> <!-- mapper end -->