<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.model.dao.ShopDao" > <!-- mapper start -->


    <!--2. 전체 출력 -->
    <select id="getMainShop" resultType="web.model.dto.ShopDto">
        select * from product;
    </select>

</mapper>  <!-- mapper end -->