<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:replace="~{/header.html :: header }"></div>
    <h3> 승률 예측 구현</h3>
    <div id = "poke_select_box">
        <select name="" id="poke_select">
            <option value=0></option>
        </select>
    </div>
    <table>
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    포켓몬
                </th>
            </tr>
            <tbody id = "poke1">

            </tbody>
        </thead>
    </table>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/rate/rate.js"></script>
</body>
</html>