<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/rate/rate.css" rel="stylesheet" />
</head>

<body>
    <div th:replace="~{/header.html :: header }"></div>

    <div id="all_wrap">

        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseOne"
                        onclick="poke_read1(), poke_read2(), poke_select1(), poke_select2()">
                        1 : 1 대결을 통한 비교
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div class="poke_Wrap1">
                            <div>
                                <div class="poke_select_box1">
                                    <select name="" id="poke_select1" onchange="poke_read1()">
                                        <option value=0></option>
                                    </select>
                                </div>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>

                                            </th>
                                            <th>
                                                포켓몬
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="poke1">

                                    </tbody>
                                </table>
                            </div>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" onclick="rate_cal()">
                                FIGHT
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">승률 예측 결과</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            ...
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> 닫기
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="poke_select_box2">
                                    <select name="" id="poke_select2" onchange="poke_read2()">
                                        <option value=0></option>
                                    </select>
                                </div>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>
                                                포켓몬
                                            </th>
                                            <th>

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="poke2">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo" onclick="poke_select3(), pred_print()">
                        승률 예측
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div class="poke_Wrap2">
                            <div>
                                <div class="poke_select_box3">
                                    <select name="" id="poke_select3" onchange="pred_print()">
                                        <option value=0></option>
                                    </select>
                                </div>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>
                                                포켓몬
                                            </th>
                                            <th>

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="poke3">

                                    </tbody>
                                </table>
                            </div>
                            <!-- Button trigger modal -->


                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">승률 예측 결과</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body1">
                                            ...
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> 닫기
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/rate/rate.js"></script>
</body>

</html>