<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h4>랭킹</h4>

    <table>
        <thead>
            <tr>
                <th>Rank</th> <th>img</th> <th>Name</th> <th>TotalWin</th> <th>click</th>
            </tr>
        </thead>
        <tbody id="tbody">
            <tr>
                <td>1</td> <td>img</td> <td>이름</td> <td>12</td> <td>1</td>
            </tr>
        </tbody>
    </table>

<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/js/rank/rank.js" ></script>
</body>
</html>