<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>포인트 충전</title>

    <!-- CSS 호출 -->
    <link href="/css/point/point.css" rel="stylesheet" />
</head>
<body>
    <div th:replace="~{/header.html :: header }"></div>

    <div id="content">

        <div class="pointArea">
            <h4 class="pointTitle">포인트 충전</h4>

            <div class="priceBtn">
                <button type="button" class="price" onclick="sumPoint(1000)">1,000원</button>
                <button type="button" class="price" onclick="sumPoint(3000)">3,000원</button>
                <button type="button" class="price" onclick="sumPoint(5000)">5,000원</button>

                <button type="button" class="price" onclick="sumPoint(10000)">10,000원</button>
                <button type="button" class="price" onclick="sumPoint(30000)">30,000원</button>
                <button type="button" class="price" onclick="sumPoint(50000)">50,000원</button>

                <br>
                
            </div>

            <div class="pointInfo">
                <div id="chargePaidPoint">

                </div>

                <button type="button" class="btn" onclick="pointReset()">포인트 초기화</button>
            </div><br>

            <button type="button" class="btn" onclick="iamport()">충전</button>
        </div>

    </div>

    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>

    <script src="/js/point/point-charge.js"></script>

</body>
</html>