<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>

    <!-- CSS 호출 -->
    <link href="/css/user/myinfo.css" rel="stylesheet" />
</head>
<body>
    <div th:replace="~{/header.html :: header }"></div>

    <div id="content">
        <!-- ========== 내 정보 ========== -->
        <h5 class="myInformation">내 정보</h5>

        <div id="myinfo">

            
        </div> <br>

        <div class="myInfoBtn">
            <button type="button" class="myInfoUpdate" onclick="location.href='/user/update'">회원정보수정</button>
            <button type="button" class="myInfoDelete" onclick="location.href='/user/delete'">회원탈퇴</button>
        </div>

        <!-- ========== 내 포켓몬 ========== -->
        <h5 class="myPokeInfo">나의 포켓몬</h5>
        <div id="myPokemon">
            <div id="myPokeStatus">

            </div>

            <table id="expLogArea">
                <thead>
                    <tr>
                        <th>번호</th> <th>경험치 획득 방법</th> <th>경험치 획득량</th> <th>경험치 획득 날짜/시간</th>
                    </tr>
                </thead>
                <tbody id="expLogAreaTbody">

                </tbody>
            </div>
        </div>


        <!-- ========== 내 포인트 ========== -->
        <h5 class="myPoint">내 포인트</h5>

        <div>
            <!-- 무료 포인트 부분 -->
            <div id="myFreePoint">
                <h6>무료 포인트</h6>
                <div class="myCurrentFreePoint">
                
                </div>

                <h6>무료 포인트 로그</h6>
                <div class="myFreePointLog">

                </div>
            </div> <br>

            <!-- 유료 포인트 부분 -->
            <div id="myPaidPoint">
                <h6>유료 포인트</h6>
                <div class="myCurrentPaidPoint">

                </div>

                <h6>유료 포인트 로그</h6>
                <div class="myPaidPointLog">

                </div>
            </div> <br>
        </div>

        <div class="myPointBtn">
            <button type="button" class="myPointCharge" onclick="location.href='/point/charge'">포인트 충전</button>
        </div>

    </div>

    <script src="/js/user/myinfo.js"></script>

</body>
</html>