<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>

    <!-- CSS 호출 -->
    <link href="/css/user/myinfo.css" rel="stylesheet" />
</head>
<body>
    <div th:replace="~{/header.html :: header }"></div>

    <div id="content">
        <h5 class="myInformation">내 정보</h5>

        <div id="myinfo">

            
        </div> <br>

        <div class="myInfoBtn">
            <button type="button" class="myInfoUpdate" onclick="location.href='/user/update'">회원정보수정</button>
            <button type="button" class="myInfoDelete" onclick="location.href='/user/delete'">회원탈퇴</button>
        </div>

        <h5 class="myPokeInfo">나의 포켓몬</h5>
        <div id="myPokemon">
            <div id="myPokeStatus">

            </div>

            <table id="expLogArea">
                <thead>
                    <tr>
                        <th>번호</th> <th>경험치 획득 방법</th> <th>경험치 획득량</th> <th>경험치 획득 날짜/시간</th>
                    </tr>
                </thead>
                <tbody id="expLogAreaTbody">

                </tbody>
            </div>
        </div>
    </div>

    <script src="/js/user/myinfo.js"></script>

</body>
</html>