<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로토봇</title>
    <link href="/css/chatbot/chatbot.css" rel="stylesheet" />

</head>
<body>
<div th:replace="~{/header.html :: header }"></div>


<div id="content">
  
   
        <div class="cPrint">
            
        </div>

        <input class="text" placeholder="내용 입력" type="text"/> 
        <button onclick="roChat()" type="button">전송</button>
   
</div>
    
  



<script src="/js/chatbot/chatbot.js"></script>


</body>
</html>