div#toptable {
    width: 1600px;
    height: 600px;
    margin: 0 auto;
    padding-top : 30px;
    padding-bottom : 0px;
    border: 1px solid #bababa;
}

div#bottomtable {
    width: 1600px;
    height: 600px;
    margin: 0 auto;
    padding-top : 30px;
    border: 1px solid #bababa;
}

#list1 {
    margin-bottom : 60px;
}

#list2 {
    margin-bottom : 60px;
}
#product1 th{
    position: sticky;
    top: -35px;
    background-color: white !important;
    padding-top : 10px;
}

#product2 th{
    position: sticky;
    top: -35px;
    background-color: white !important;
    padding-top : 10px;
}

.channel{
        display: flex;
        justify-content: center;
        padding-bottom : 40px;
        padding-top : 40px;
}

.ch{
  font-size: 20px;
  color: #191919;
  letter-spacing: -1px;
  font-family: 'yg-jalnan';
  display: inline;
  margin : 20px;
}

#menulist{
    display : flex;
    justify-content : center;
}

#prodpm{margin : 10px;}
#prodinfo{margin : 10px;}
#prodinv{margin : 10px;}
#addbtn{margin : 10px; width : 40px;}
