/* =============== 공통 CSS =============== */
/* 폰트 : 나눔고딕 */
@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 12px;
    font-family: nanumgothic;
}

li{
    list-style-type: none;
}

a{
    color: black;
    text-decoration: none;
}

.wwrap{
    width: 100%;
    border-bottom: 1px solid #dddddd;
}
/* ============= 레이아웃 CSS ============= */
#header{
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;     /* 양쪽 끝에 여백 없이 사이 여백 균등 정렬 */

    align-items: center;
}

#content{
    width: 1280px;
    margin: 0 auto;
}

/* ============= 작업용 CSS ============= */
/* *{
    border: 1px solid red;
} */

/* ============= 헤더 CSS ============= */
#headerMenu{
    display: flex;
    justify-content: space-between;     /* 양쪽 끝에 여백 없이 사이 여백 균등 정렬 */
     margin-bottom: 0;
}

#headerMenu > li{
    margin-left: 40px;

}

/* 강사가 변경 */
#imgO{
    width: 100px;
    height: 100px;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#headerMenu > li > a {
    font-size : 15px;
    font-family: 'yg-jalnan';
}