/* 전체 콘텐츠 컨테이너 */
#content {
    width: 340px;
    margin: 50px auto;
    padding: 40px 25px;
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-top: 50px;
}

/* 제목 스타일 */
#content > h2 {
    font-size: 26px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #333;
}

/* 버튼 스타일 */
#content > .pointArea > .priceBtn > button {
    width: 140px;
    padding: 12px;
    margin: 10px 5px;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    background: #4264ff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    margin-top: 30px;
}

/* 버튼 호버 및 클릭 효과 */
#content button:hover {
    box-shadow: 0px 12px 24px rgb(206 0 244 / 10%);
    transform: translateY(-4px);
}

#content button:active {
    transform: translateY(2px);
}

/* 포인트 초기화 버튼 스타일 */
#content button[onclick="pointReset()"] {
    background: linear-gradient(145deg, #f44336, #e53935);
    box-shadow: 0px 8px 16px rgba(229, 57, 53, 0.15);
}

#content button[onclick="pointReset()"]:hover {
    box-shadow: 0px 12px 24px rgba(229, 57, 53, 0.3);
}

/* 포인트 표시 영역 */
#chargePaidPoint {
    width: 350px;
    font-size: 18px;
    margin-top: 25px;
    padding: 18px;
    color: #555;
    background: #f7f9fc;
    border-radius: 12px;
    border: 1px solid #e1e8f0;
    box-shadow: inset 0px 3px 8px rgba(0, 0, 0, 0.05);
    margin-right: 30px;
}


.pointTitle {
    font-size: 24px;
    font-weight: bold;
}

.pointInfo {
    display: flex;
    align-items: center;
    margin-left: 340px;
    margin-top: 30px;
}

#content .btn {
    width: 140px;
    padding: 12px;
    margin: 10px 5px;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    background: #bc97d2;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    margin-top: 30px;
}
