<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>종족값 목록</title>

    <!-- CSS 호출 -->
    <link href="/css/base-stats/base-stats.css" rel="stylesheet" />
</head>
<body>
    <div th:replace="~{/header.html :: header }"></div>

    <div id="content">
        <h4>종족값 목록</h4>

        <hr>
        <p>
            종족값은 포켓몬의 각 종류마다 매겨진 고유한 능력치를 말합니다. <br><br>

            1. 표에 모든 포켓몬의 종족값을 포켓몬 번호순으로 나열했습니다. <br>
            &nbsp;&nbsp;&nbsp;표 상단의 버튼을 누르면 각 능력치별로 오름차순, 내림차순, 포켓몬 번호순으로 정렬을 할 수 있습니다. <br><br>

            2. 또한, 표 위에 보이는 항목을 클릭 시 각 종족값에 따른 상위 퍼센트를 확인할 수 있습니다. <br>
            &nbsp;&nbsp;&nbsp;마찬가지로 항목 클릭을 통해 상위 퍼센트도 오름차순, 내림차순, 포켓몬 번호순으로 정렬을 할 수 있습니다.
        </p>
        <hr> <br>

        <div class="checklist">
            <label>상위 퍼센트 확인</label>
            <label> <input type="radio" id="total" name="baseStats" value="총합" onclick="baseStatsPercentPrint('총합')" > 총합 </label>
            <label> <input type="radio" id="strength" name="baseStats" value="체력" onclick="baseStatsPercentPrint('체력')"> 체력 </label>
            <label> <input type="radio" id="attack" name="baseStats" value="공격" onclick="baseStatsPercentPrint('공격')"> 공격 </label>
            <label> <input type="radio" id="defence" name="baseStats" value="방어" onclick="baseStatsPercentPrint('방어')"> 방어 </label>
            <label> <input type="radio" id="specialAttack" name="baseStats" value="특수공격" onclick="baseStatsPercentPrint('특수공격')"> 특수공격 </label>
            <label> <input type="radio" id="specialDefence" name="baseStats" value="특수방어" onclick="baseStatsPercentPrint('특수방어')"> 특수방어 </label>
            <label> <input type="radio" id="speed" name="baseStats" value="스피드" onclick="baseStatsPercentPrint('스피드')"> 스피드 </label>
        </div>

        <table border="1">
            <thead>
                <tr>
                    
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <script src="/js/base-stats/base-stats.js"></script>

</body>
</html>